<!-- BEGIN robots -->
{{menubar}}
<div id="main" class="middle-section">
    <div id="robots_area">
        <label for="robots">{{lbl_robots}}:</label>{{robots}}
        <div class="buttons">{{save}}</div>
    </div>
</div>

<script type="text/javascript">
    var incompleteFields = "{{incompleteFields}}";
    var confirmDelete = "{{confirmDelete}}";
</script>
<!-- END robots -->