<!-- BEGIN sitemap -->
<!-- BEGIN sitemap_base -->
{{menubar}}
<div id="main" style="width: 100%;">
    <div id="sitemap_area">
        <div class="sitemap-titlebar"><span style="font-weight: bold;"><img src="{{sitemap_tree_image}}" alt="" />&nbsp;{{sitemap_tree_title}}</span>
            <div class="sitemap_actions">
                <a href="javascript: {{js_ping_func}};" title="{{ping_title}}"><img src="{{ping_icon}}" alt="{{ping_title}}" /></a>
            </div>
        </div>
        <div id="gadgets_tree">{{gadgets_tree}}</div>
    </div>
    <div id="edit_area">
        <div class="sitemap-titlebar"><span style="font-weight: bold;"></span></div>
        <div id="category_edit"></div>
    </div>
    <div class="buttons">{{cancel}} {{save}}</div>
</div>
<script type="text/javascript">
    var max_limit_count = "{{max_limit_count}}";
    var editCategoryTitle   = "{{editCategoryTitle}}";
    var editGadgetTitle     = "{{editGadgetTitle}}";
    var sitemapImageSrc    = "{{sitemapImageSrc}}";
    var sitemapListCloseImageSrc = "{{sitemapListCloseImageSrc}}";
    var sitemapListOpenImageSrc  = "{{sitemapListOpenImageSrc}}";
    var incompleteFields   = "{{incompleteFields}}";
    var confirmGroupDelete = "{{confirmDeleteGroup}}";
    var confirmLinkDelete  = "{{confirmDeleteLink}}";
    var noCategoryExists   = "{{noCategoryExists}}";
</script>
<!-- END sitemap_base -->

<!-- BEGIN sitemap_gadget -->
<div class="sitemap_gadget" id="{{lg_id}}">
    <div class="group">
        <div class="title">
            <a href="javascript: {{js_list_func}};"><img class="icon" src="{{icon}}" alt="icon" /></a>
            <a href="javascript: {{js_edit_func}};">{{title}}</a>
        </div>
        <div class="sitemap_actions">
            <a href="javascript: {{js_sync_func}};" title="{{sync_title}}"><img src="{{sync_icon}}" alt="{{sync_title}}" /></a>
        </div>
    </div>
    <div class="links" id="sitemap_{{lg_id}}"></div>
</div>
<!-- END sitemap_gadget -->

<!-- BEGIN category_list -->
<div id="{{cid}}">
    <img class="icon" src="{{icon}}" alt="icon" /><a onclick="javascript: {{js_edit_func}};">{{title}}</a>
</div>
<!-- END category_list -->

<!-- BEGIN categoryUI -->
<div>
    <input type="hidden" name="cid" id="cid" value="0" />
    <table id="tbl_link" border="0" cellpadding="0" cellspacing="0">
        <tr><td colspan="2" style="border-bottom: 1px dashed #d3d7cf;"></td></tr>
        <tr><td><label for="priority">{{lbl_priority}}:</label></td><td>{{priority}}</td></tr>
        <tr><td><label for="frequency">{{lbl_frequency}}:</label></td><td>{{frequency}}</td></tr>
        <tr><td><label for="status">{{lbl_status}}:</label></td><td>{{status}}</td></tr>
    </table>
</div>
<!-- END categoryUI -->
<!-- BEGIN gadgetUI -->
<div>
    <table id="tbl_link" border="0" cellpadding="0" cellspacing="0">
        <tr><td colspan="2" style="border-bottom: 1px dashed #d3d7cf;"></td></tr>
        <tr><td><label for="priority">{{lbl_priority}}:</label></td><td>{{priority}}</td></tr>
        <tr><td><label for="frequency">{{lbl_frequency}}:</label></td><td>{{frequency}}</td></tr>
        <tr><td><label for="status">{{lbl_status}}:</label></td><td>{{status}}</td></tr>
        <tr><td><label for="last_update">{{lbl_last_update}}:</label></td><td id="last_update">{{last_update}}</td></tr>
    </table>
</div>
<!-- END gadgetUI -->
<!-- END sitemap -->