<!-- BEGIN Properties -->
{{menubar}}
<div id="main" align="left">
<table width="100%">
  <tr><td align="center">
    <table id="settings">
      <tr><td><label for="use_antispam">{{lbl_use_antispam}}:</label></td><td>{{use_antispam}}</td></tr>
      <tr><td><label for="email_format">{{lbl_email_format}}:</label></td><td>{{email_format}}</td></tr>
      <tr><td><label for="enable_attachment">{{lbl_enable_attachment}}:</label></td><td>{{enable_attachment}}</td></tr>
      <tr><td><label for="comments">{{lbl_comments}}:</label></td><td>{{comments}}</td></tr>
    </table>
  </td></tr>
  <tr><td class="buttons">{{btn_save}}</td></tr>
</table>
</div>
<!-- END Properties -->
