<!-- BEGIN personal -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_response"><div class="{{type}}">{{text}}</div></div>
  <form name="personalbox" action="{{base_script}}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="UpdatePersonal" />
  <input type="hidden" name="MAX_FILE_SIZE" value="524288" />
  <input type="hidden" name="delete_avatar" value="">
  <div class="gadget_content content">
    <fieldset>
      <div class="user_avatar">{{avatar}}
        <input type="file" name="avatar" onchange="previewImage(this);" style="opacity:0; height:0;">
        <button type="button" title="{{lbl_browse_avatar}}" onclick="browseImage(this);">
          <img src="images/stock/up.png" alt="upload" />
        </button>
        <button type="button" title="{{lbl_delete_avatar}}" onclick="removeImage(this);" >
          <img src="images/stock/delete.png" alt="delete" />
        </button>
        <button type="button" title="{{lbl_reload_avatar}}" onclick="reloadImage(this);" >
          <img src="images/stock/reload.png" alt="reload" />
        </button>
        <script type="text/javascript">
        var original_avatar = document.getElementById('avatar').src;
        function previewImage(fileElement) {
            var fReader = new FileReader();
            fReader.readAsDataURL(fileElement.files[0]);
            fReader.onload = function (event) {
                document.getElementById('avatar').src = event.target.result;
            }
        };

        function browseImage(btnElement) {
            btnElement.form.avatar.click();
        };

        function removeImage(btnElement) {
            btnElement.form.avatar.value = '';
            btnElement.form.delete_avatar.value = 1;
            document.getElementById('avatar').src = 'gadgets/Users/Resources/images/photo128px.png';
        };

        function reloadImage(btnElement) {
            btnElement.form.avatar.value = '';
            btnElement.form.delete_avatar.value = '';
            document.getElementById('avatar').src = original_avatar;
        };
        </script>
      </div>
      <div>
        <label for="personal_fname">{{lbl_fname}}:</label>
        <input name="fname" class="large name" id="personal_fname" value="{{fname}}" type="text" />
      </div>
      <div>
        <label for="personal_lname">{{lbl_lname}}:</label>
        <input name="lname" class="large name" id="personal_lname" value="{{lname}}" type="text" />
      </div>
      <div>
        <label for="user_gender">{{lbl_gender}}:</label>
        <select name="gender" class="large" id="user_gender">
          <option value="0" {{selected_gender_0}}>{{gender_0}}</option>
          <option value="1" {{selected_gender_1}}>{{gender_1}}</option>
          <option value="2" {{selected_gender_2}}>{{gender_2}}</option>
        </select>
      </div>
      <div>
        <label for="personal_ssn">{{lbl_ssn}}:</label>
        <input name="ssn" class="large ltr" id="personal_ssn" value="{{ssn}}" type="text" />
      </div>
      <div><label for="personal_dob">{{lbl_dob}}: ({{dob_sample}})</label>
        <input name="dob" class="large ltr" id="personal_dob" value="{{dob}}" type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" title="{{dob_sample}}" />
      </div>
      <div>
        <label for="personal_url">{{lbl_url}}:</label>
        <input name="url" class="large url ltr" id="personal_url" value="{{url}}" type="text" />
      </div>
      <div>
        <label for="personal_signature">{{lbl_signature}}:</label>
        <textarea name="signature" class="x-large" id="personal_signature" cols="45" rows="4">{{signature}}</textarea>
      </div>
      <div>
        <label for="personal_about">{{lbl_about}}:</label>
        <textarea name="about" class="x-large" id="personal_about" cols="45" rows="4">{{about}}</textarea>
      </div>
      <div>
        <label for="personal_experiences">{{lbl_experiences}}:</label>
        <textarea name="experiences" class="x-large" id="personal_experiences" cols="45" rows="4">{{experiences}}</textarea>
      </div>
      <div>
        <label for="personal_occupations">{{lbl_occupations}}:</label>
        <textarea name="occupations" class="x-large" id="personal_occupations" cols="45" rows="4">{{occupations}}</textarea>
      </div>
      <div>
        <label for="personal_interests">{{lbl_interests}}:</label>
        <textarea name="interests" class="x-large" id="personal_interests" cols="45" rows="4">{{interests}}</textarea>
      </div>
    </fieldset>
  </div>
  <div class="gadget_actions actions"><button type="submit" value="{{update}}">{{update}}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END personal -->