<!-- BEGIN encryption -->
<div id="policy">
  <table id="policy_encryption">
    <tr>
      <td id="policy_sidebar">{{sidebar}}</td>
      <td id="options_entry">
        <fieldset><legend><span id="legend_title">{{legend_title}}</span></legend>
          <table>
            <tr><td><label for="enabled">{{lbl_enabled}}</label></td><td>{{enabled}}</td></tr>
            <tr><td><label for="key_age">{{lbl_key_age}}</label></td><td>{{key_age}}</td></tr>
            <tr><td><label for="key_len">{{lbl_key_len}}</label></td><td>{{key_len}}</td></tr>
            <tr><td><label for="key_start_date">{{lbl_key_start_date}}</label></td><td>{{key_start_date}}</td></tr>
          </table>
        </fieldset>
        <div class="buttons">{{btn_save}}</div>
      </td>
    </tr>
  </table>
<script type="text/javascript">
  currentAction = 'Encryption';
</script>
</div>
<!-- END encryption -->
