<!-- BEGIN guestbook -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_content content">
      {{comments}}
      {{preview}}
      {{comment-form}}
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END guestbook -->