<!-- BEGIN SysInfo -->
<div id="sysinfo">
  <div id="sysinfo_sidebar">{{sidebar}}</div>
  <fieldset id="info_section">
    <!-- BEGIN InfoSection -->
    <legend><span>{{section_title}}</span></legend>
    <table>
      <!-- BEGIN InfoItem -->
      <tr><th>{{item_title}}</th><td>{{item_value}}</td></tr>
      <!-- END InfoItem -->
    </table>
    <!-- END InfoSection -->
  </fieldset>
</div>
<!-- END SysInfo -->