<!-- BEGIN Settings -->
{{menubar}}
<div id="settings">
    <form onsubmit="return false;" action="admin.php" method="post" id="propertiesForm">
        <div class="fields"><label for="allow_comments">{{lbl_allow_comments}}</label>{{allow_comments}}</div>
        <div class="fields"><label for="allow_duplicate">{{lbl_allow_duplicate}}</label>{{allow_duplicate}}</div>
        <div class="fields"><label for="order_type">{{lbl_order_type}}</label>{{order_type}}</div>
    </form>
</div>
<div class="buttons">{{btn_save}}</div>

<!-- END Settings -->
