<!-- BEGIN components -->
{{menubar}}
<table>
  <tr>
    <td id="components">
      <div>
        <input id="filter" onkeyup="buildComponentList()">
        <h3 title="{{notinstalled_desc}}">{{lbl_notinstalled}}</h3>
        <ul id="notinstalled"></ul>
        <h3 title="{{installed_desc}}">{{lbl_installed}}</h3>
        <ul id="installed"></ul>
        <h3 style="display:none"></h3>
        <ul id="outdated"></ul>
        <h3 style="display:none"></h3>
        <ul id="core"></ul>
      </div>
    </td>
    <td id="component_ui">
      <div id="summary">{{summary}}</div>
      <div id="component" class="plugin" style="display:none">
        <div id="component_head"></div>
        <div id="component_form"></div>
        <ul id="tabs">
          <li id="tab_info" class="active">{{lbl_info}}</li>
          <li id="tab_registry">{{lbl_registry}}</li>
          <li id="tab_acl">{{lbl_acl}}</li>
          <li id="tab_usage">{{lbl_usage}}</li>
        </ul>
        {{close}}
      </div>
    </td>
  </tr>
</table>
<script type="text/javascript">
  var actions = {
      installed: "{{lbl_uninstall}}",
      notinstalled: "{{lbl_install}}"
    },
    pluginsMode = true,
    confirmUninstallPlugin = "{{confirmUninstallPlugin}}";
  init();
</script>
<!-- END components -->
