<!-- BEGIN Properties -->
{{menubar}}
<div id="main">
<table align="center" width="500" cellpadding="2" cellspacing="2">
  <tr>
    <td align="center">
      <table id="settings" cellpadding="2" cellspacing="2">
        <tr><th><label for="unit">{{lbl_unit}}:</label></th><td>{{unit}}</td></tr>
        <tr><th><label for="update_period">{{lbl_update_period}}:</label></th><td>{{update_period}}</td></tr>
        <tr><th><label for="date_format">{{lbl_date_format}}:</label></th><td>{{date_format}}</td></tr>
        <tr><th><label for="api_key">{{lbl_api_key}}:</label></th><td>{{api_key}}</td></tr>
        <tr><th></th><td>{{lbl_api_key_desc}}</td></tr>
      </table>
    </td>
  </tr>
  <tr><td class="buttons">{{btn_save}}</td></tr>
</table>
</div>
<!-- END Properties -->
