<!-- BEGIN Settings -->
{{menubar}}
<div id="settings">
    <div class="fields"><label for="tag_results_limit">{{lbl_tag_results_limit}}</label>{{tag_results_limit}}</div>
</div>
<div class="buttons">{{btn_save}}</div>
<!-- END Settings -->
