<!-- BEGIN Settings -->
{{menubar}}
<div id="settings">
    <div class="fields"><label for="priority">{{lbl_priority}}: </label>{{priority}}</div>
    <div class="fields"><label for="log_parameters">{{lbl_log_parameters}}: </label>{{log_parameters}}</div>
</div>
<div class="buttons">{{btn_save}}</div>
<!-- END Settings -->
