<!-- BEGIN shoutbox -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="shoutbox_comments_response" class="{{type}}">{{text}}</div>
  </div>
  {{comments}}
  {{preview}}
  {{comment-form}}
</div>
<div class="gadget_footer"></div>
<!-- END shoutbox -->
