<!-- BEGIN Faq -->
{{menubar}}<br />
<div align="right">
  <form name="catForm" action="{{base_script}}" method="post" onsubmit="return false;">
    <input type="hidden" name="gadget" value="Faq" />
    <input type="hidden" name="action" value="ManageQuestions" />
    {{category}} {{category_combo}}
  </form>
</div>
<div id="main">
  <div id="ManageQuestions">{{ManageQuestions}}</div>
</div>
<script type="text/javascript">
    initUI();
</script>
<!-- END Faq -->
<!-- BEGIN ManageQuestions -->
<script type="text/javascript">
 //Struct is: [position] = cat_id;
 var categoriesInfo              = [];
 var categoriesOrderedByPosition = [];
 var deletedCategories           = [];
</script>
<!-- BEGIN category -->
<script type="text/javascript">
  categoriesInfo['{{cat_id}}'] = [];
  categoriesInfo['{{cat_id}}']['id']  = {{cat_id}};
  categoriesInfo['{{cat_id}}']['pos'] = {{position}};
  categoriesInfo['{{cat_id}}']['deleted'] = false;
</script>
<div id="FaqCategory_{{cat_id}}" style="{{style}} cursor: move;" class="category" onmousedown="saveSelectedID(this);">
<div style="border: 1px solid #d3d7cf; background: #fafafa; padding:10px; margin-bottom: 10px; margin-top:15px;">
<h3 style="margin:0; padding:0;"><span id="FaqCategoryPosition_{{cat_id}}">{{position}}</span>. {{name}}</h3>
{{description}}
<div class="category_action" style="margin-top: 10px;">
{{add_question}} | {{edit}} | {{delete}}
</div>
</div>
<div id="FaqDataGridOfCategory_{{cat_id}}" align="center">
{{grid}}
<!-- BEGIN noquestions -->
<div style="margin:20px;">
<div class="control-panel-message">
{{message}}
</div>
</div>
<!-- END noquestions -->
</div>
</div>
<!-- END category -->
<!-- END ManageQuestions -->
<!-- BEGIN edit_question -->
{{menubar}}
<div id="preview" style="display: none;">
  <div style="width: 100%; margin-bottom: 20px; overflow: auto; max-height: 400px; border: 1px solid #d3d7cf;">
    <div style="padding: 10px;">
      <h1 id="questionPreview"></h1>
      <div id="answerPreview"></div>
    </div>
  </div>
</div>
<div id="main">
{{form}}
</div>
<!-- END edit_question -->
<!-- BEGIN edit_category -->
{{menubar}}
<div id="preview" style="display: none;">
  <div style="width: 100%; margin-bottom: 20px; overflow: auto; max-height: 400px; border: 1px solid #d3d7cf;">
    <div style="padding: 10px;">
      <h1 id="categoryPreview"></h1>
      <div id="descriptionPreview"></div>
    </div>
  </div>
</div>
<div id="main">
{{form}}
</div>
<!-- END edit_category -->